@using PagedList;
@using PagedList.Mvc;
@model IPagedList<adminSection.Models.Note>
@{
    ViewBag.Title = "Note_List";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<style>
    .p {
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .butoon {
        background-color: aqua;
        padding: 4px;
        border: solid 1px #000000;
    }

    .panel {
        display: none;
    }

    .hi {
        float: right;
    }

    .image {
        border-radius: 50%;
        padding: 10px;
        margin: 10px;
        float: right;
    }

    .text {
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .centerDiv {
        text-align: center;
        font-size: medium;
        margin: 10px;
        padding: 10px;
    }

    .padding_and_Margin {
        padding: 10px;
        margin: 10px;
    }
</style>
<div class="row">
    <div class="centerDiv">
        <img src="@Url.Content(Session["ImagePath"].ToString())" alt="Child Image" width="150" height="150" class="image float-left" />
    </div>
    <div class="centerDiv">
        <h2> <b>welcom @Session["Name"] Admin</b> </h2>
    </div>
</div>

<div class="row padding_and_Margin h2">
     Note List
</div>


<table class="table table-hover table-bordered table-responsive" >
    <tr>
        <th>
            @Html.Label("First Name")
        </th>
        <th>
            @Html.Label("Last Name")
        </th>
        <th>
            @Html.Label("Note Title")
        </th>
        <th>
            @Html.Label("Note Content")
        </th>
        <th>
            @Html.Label("Note Date")
        </th>
        <th>
            @Html.Label("Who Posted")
        </th>
        <th>
            @Html.Label("Edit Note")
        </th>
        <th>
            @Html.Label("Remove Note")
        </th>

    </tr>
    @foreach (var i in Model)
    {
    <tr>
        <td>
            @Html.Label(i.child.Chi_First_Name)
        </td>
        <td>
            @Html.Label(i.child.Chi_Last_Name)
        </td>
        <td>
            @Html.Label(i.Note_title)
        </td>
        <td>
            @Html.Label(i.note_content)
        </td>
        <td>
            @Html.Label(i.Note_Date.ToString())
        </td>
        <td>
            @Html.Label(i.Posted)
        </td>
        @if (i.Posted == "Admin")
        {
            <td>
                @Html.ActionLink("Edit Note", "Edit_Note", "Admin", new { id = i.Note_Id }, new { @class="btn btn-defult"})
            </td>
            <td>
                @Html.ActionLink("Remove Note", "Remove_Note", "Admin", new { id=i.Note_Id},new { @class = "btn btn-defult" })
            </td>

        }

    </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Note_List", new { page }))

