@using PagedList;
@using PagedList.Mvc;

@model IPagedList<adminSection.Models.Parent>
@{
    ViewBag.Title = "ShowParent";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<style>
    .panel {
        display: none;
    }

    .hi {
        float: right;
    }

    .image {
        border-radius: 50%;
        padding: 10px;
        margin: 10px;
        float: right;
    }

    .text {
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .centerDiv {
        text-align: center;
        font-size: medium;
        margin: 10px;
        padding: 10px;
    }

    .padding_and_Margin {
        padding: 10px;
        margin: 10px;
    }
</style>
<div class="row">
    <div class="centerDiv">
        <img src="@Url.Content(Session["ImagePath"].ToString())" alt="Child Image" width="150" height="150" class="image float-left" />
    </div>
    <div class="centerDiv">
        <h2> <b>welcom @Session["Name"] Admin</b> </h2>
    </div>
</div>
<div class="row padding_and_Margin h2">
    ShowParent
</div>
    
<div class="row">
    <div class="col-md-4">
        
    @foreach (var i in Model)
    {
        
        <table class="table table-bordered table-hover  table-responsive">
            <tr>
                <td>
                    Parent Name
                </td>
                <td>
                    @i.Parent_Full_Name
                </td>

            </tr>
            <tr>
                <td>
                    Parent Email Address
                </td>
                <td>
                    @i.Parent_Email
                </td>
            </tr>
        </table>
        <div class="row">
            
                <div class="col-md-2 ">
                    @Html.ActionLink("More Details", "Parent_Details", "Admin", new { id = i.Parent_Id }, new { @class = "btn btn-primary padding_and_Margin" })
                </div>
            
        </div>

    }
        
    </div>
</div>
<div class="row">
    @Html.PagedListPager(Model, page => Url.Action("Show_Parent", new { page }))
</div>
    
   
