@using PagedList;
@using PagedList.Mvc;
@model IPagedList<adminSection.Models.Admin>
@{
    ViewBag.Title = "Show_Admin";
}

<h2>Show_Admin</h2>
<table class="table table-hover table-bordered table-responsive">
    <tr>
        @foreach (var i in Model)
        {
            
                <div class="col-md-4" style="padding:10px">
                    <a href=@Url.Action("Details", new { id = i.Adm_ID } )>
                        <img src="@Url.Content(i.Adm_Image_Path)" alt="Admin Image" width="100" height="100" />
                    </a>

                    <div>
                        @Html.Label(i.Adm_Name)
                    </div>
                    <div>
                        @Html.Label(i.Adm_Email, htmlAttributes: new { @class = "label-control" })
                    </div>
                    @Html.ActionLink("More Details", "Admin_Details","Admin", new { id=i.Adm_ID }, new { target = "_blank", id = i.Adm_ID })

                </div>
            }
    </tr>
</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Show_Admin", new { page }))
</div>


