@model adminSection.Models.Child
@{
    ViewBag.Title = "Child_Details";
    Layout = "~/Views/Shared/_The_SupportsLayout.cshtml";
}

<style>
     .center{
        text-align:center;
        padding:50px;
    }
    .btn {
        margin: 0 20px 20px 50px;
    }

    .p {
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .butoon {
        background-color: aqua;
        padding: 4px;
        border: solid 1px #000000;
    }

    .panel {
        display: none;
    }

    .hi {
        float: right;
    }

    .image {
        border-radius: 50%;
        padding: 10px;
        margin: 10px;
        float: right;
    }

    .text {
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .centerDiv {
        text-align: center;
        font-size: medium;
        margin: 10px;
        padding: 10px;
    }

    .padding_and_Margin {
        padding: 10px;
        margin: 10px;
    }
</style>
<div class="row">
    <div class="centerDiv">
        <img src="@Url.Content(Session["ImagePath"].ToString())" alt="Child Image" width="150" height="150" class="image float-left" />
    </div>
    <div class="centerDiv">
        <h2> <b>welcom @Session["Name"] </b> </h2>
    </div>
</div>

<div class="row padding_and_Margin h2">
    Child Details
</div>


<div class="row">
    <div class="row">
        <img src="@Url.Content(Model.Chi_Image_Path)" alt="Child Image" width="150" height="150" class="image" />

    </div>
    <div class="row">
        <table class="table table-hover table-bordered table-responsive">
            <tr>
                <td>
                   @Html.Label("First Name")
                </td>
                <td>
                    @Html.Label(Model.Chi_First_Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Last Name")
                </td>
                <td>
                    @Html.Label(Model.Chi_Last_Name)
                </td>
            </tr>
            <tr>
                <td>
                   @Html.Label("Child Age")
                </td>
                <td>
                    @Html.Label(Model.Age.ToString())
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Child Gender")
                </td>
                <td>
                    @Html.Label(Model.Gender)
                </td>
            </tr>
            @if (Model.Chi_School != null)
            {
            <tr>
                <td>
                    @Html.Label("Child School")
                </td>
                <td>
                    @Html.Label(Model.Chi_School)
                </td>
            </tr>
            }
            <tr>
                <td>
                   @Html.Label("Parent Status")
                </td>
                <td>
                    @Html.Label(Model.Chi_parent_status)
                </td>
            </tr>



        </table>
    </div>
</div>
@*@if (Model.supports.Num_Of_Child<Model.supports.Accept_Voulnteer)
{*@
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Supporting", "Suporrting", "The_Supports", new { id = Model.Chi_Id }, new { @class = "btn button padding_and_Margin" })
    </div>
</div>
@*}*@
