@model adminSection.Models.Child
@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>




<style>
    .panel {
        display: none;
    }
</style>

<h2>Details</h2>
<div class="col-md-12" id="big_div">
    <div class="col-md-2 " id="div_p_id">
        @Html.ActionLink("parent Profile", "Parent_Details", "Minsitry", new { id = Model.Par_ID }, new { id = "p_id", @class = "btn btn-defult panel" })

    </div>
    <div class="col-md-2 ">
        @Html.ActionLink("Remove Child", "Remove", "Minsitry", new { id = Model.Chi_Id }, new { @class = "btn btn-defult" })
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Edit Profile", "Edit", "Minsitry", new { id = Model.Chi_Id }, new { @class = "btn btn-defult" })

    </div>
    <div class="col-md-2">
        @Html.ActionLink("Add note", "Add_Note", "Minsitry", new { Id = Model.Chi_Id }, new { @class = "btn btn-defult" })
    </div>

    <div class="col-md-2">
        @Html.ActionLink("Show Note", "Note_List", "Minsitry", new { Id = Model.Chi_Id }, new { @class = "btn btn-defult" })
    </div>
</div>

<table class="table table-bordered table-hover" id="table">
    <tr>
        <th>
            @Html.LabelFor(x => x.Chi_First_Name)
        </th>
        <th>
            @Html.LabelFor(x => x.Chi_Last_Name)
        </th>
        <th>
            @Html.LabelFor(x => x.Age)
        </th>
        <th>
            @Html.LabelFor(x => x.Gender)
        </th>

        <th>
            @Html.LabelFor(x => x.Chi_parent_status)
        </th>
        @*<th>
            @Html.LabelFor(x => x.admin.Adm_Name)
        </th>*@

        <th id="Parent_Faild">
            @Html.LabelFor(x => x.parent.Parent_Full_Name)
        </th>

    </tr>
    <tr>
        <td>
            @Html.DisplayFor(x => x.Chi_First_Name)
        </td>
        <td>
            @Html.DisplayFor(x => x.Chi_Last_Name)
        </td>
        <td>
            @Html.DisplayFor(x => x.Age)
        </td>
        <td>
            @Html.DisplayFor(x => x.Gender)
        </td>
        <td>
            @Html.DisplayFor(x => x.Chi_parent_status)
        </td>
        @*<td>

            @Html.DisplayFor(x => x.admin.Adm_Name)

        </td>*@
        <td id="Parent_result">
            <div id="Parent_Faild">
                @Html.DisplayFor(x => x.parent.Parent_Full_Name)
            </div>
        </td>
    </tr>


</table>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        $(window).load(function () {

            if(@Model.Par_ID==0)
            {
                $("#Parent_Faild").hide();
                $("#Parent_result").hide();
            }
            else
            {
                var par_id = @Model.Par_ID;
                if (p_id != 0)
                {
                    //   $("#div_p_id").show("slow");
                    $("#p_id").show();

                }
            }


        });

    });
</script>